<!DOCTYPE html>
<html>
  <head>
    <meta/>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
    <link rel='stylesheet' href="/css/app.css"></link>

    <title>Comic Book Store</title>
  </head>
  <body>
    <%= erb :"shared/_nav" %>

    <div class="container">
      <%= yield %>
    </div>

    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js">
    </script>
    <script src="/js/app.js"></script>
  </body>
</html>
