<nav class="navbar navbar-default navbar-static-top">
  <ul class="navbar-nav nav">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/comics">Comics</a>
    </li>
    <li>
      <a href="/comics/new">New comic</a>
    </li>
  </ul>
</nav>